// Component Variables
$contact-item-icon-width: 50px;
$contact-item-icon-space: 20px;
$contact-item-color: white;


// Rules
.contact-item{
    font-weight: 500;
    margin-bottom: $contact-item-icon-space;
}

.contact-item__link{
    display: inline-flex;
    color: $contact-item-color;
    text-decoration: none;
    z-index: 1;
    position: relative;
    height: auto;
}

.contact-item__icon{
    display: block;
    width: $contact-item-icon-width;
    height: $contact-item-icon-width;
    background: $contact-item-color;
    margin-right: $contact-item-icon-space 
}

.contact-item__text{
    margin: auto;
    position: relative;

    &:before{ // Underline
        content: '';
        position: absolute;
        height: 0px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: $contact-item-color;
        transition: height 0.15s ease-in-out;
        z-index: -1;
    }
}

.contact-item__link{ // Underline based on parent hover
    &:hover, &:focus{
        .contact-item__text{
            &:before{
                height: 0.1rem;
            }
        }
    }
}



//Modifiers
.contact-item--vertical{
    margin: auto;

    .contact-item__link{
        flex-direction: column;
    }
    .contact-item__icon{
        margin: auto;
        margin-bottom: $contact-item-icon-space;
    }   
}