// Component Variables
$contact-item-icon-width: 50px;
$contact-item-icon-space: 20px;
$contact-item-color: white;


// Rules
.contact-item{
    font-weight: 500;
    margin-bottom: $contact-item-icon-space;
}

.contact-item__link{
    display: inline-flex;
    color: $contact-item-color;
    text-decoration: none;
    z-index: 1;
    position: relative;
    height: auto;
}

.contact-item__icon{
    display: block;
    margin-right: $contact-item-icon-space 
}

.contact-item__icon i{
    width: $contact-item-icon-width;
    color: $contact-item-color;
    font-size: 2rem;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;


    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-shadow: $brand2-color 0.05rem 0.1rem, 
                 $brand1-color -0.1rem -0.1rem;
}

.contact-item__text{
    margin: auto;
    position: relative;

    &:before{ // Underline
        content: '';
        position: absolute;
        height: 0px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: $contact-item-color;
        transition: height 0.15s ease-in-out;
        z-index: -1;
    }
}

.contact-item__link{ // Underline based on parent hover
    &:hover, &:focus{
        .contact-item__text{
            &:before{
                height: 0.1rem;
            }
        }
    }
}



//Modifiers
.contact-item--vertical{
    margin: auto;

    .contact-item__link{
        flex-direction: column;
    }
    .contact-item__icon{
        margin: auto;
        margin-bottom: $contact-item-icon-space;
    }   
}