// Component Variables
$contact-max-width: 500px;
$contact-padding: $xsmall-space;
$contact-background: radial-gradient(rgba($background-color, 0.5) 10%, transparent 80%);

// Rules
.contact{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: $contact-padding;
    background: $contact-background;
    max-width: $contact-max-width;
    margin: auto;
    text-align: center;

    @media print {
        padding: 0;
    }
}

//Modifiers
.contact--vertical{
    flex-direction: column;
}