// Component Variables
$header-padding-xsmall: $small-space $small-space/1.5;
$header-padding-small: $medium-space;
$header-padding-medium: $large-space;
$header-shadow1-color: $brand1-color;
$header-shadow2-color: $brand2-color;
$header-background-color: $background-color;


// Rules
.header{}

.header__container{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.header__fancytext-container{
    box-sizing: border-box;
    background: $header-background-color;
    display: flex;
    margin: auto;
}

.header__fancytext{
    font-size: 5rem;
    line-height: 5rem;
    text-shadow: $header-shadow1-color 0.3rem 0.5rem, 
                 $header-shadow2-color -0.2rem -0.3rem;
    margin: auto;
    padding: $header-padding-xsmall;
    @media (min-width: $small-mobile) {
        padding: $header-padding-small;
    }
    @media (min-width: $small-desktop) {
        padding: $header-padding-medium;
    }

    @media print {
        padding: $header-padding-xsmall;
        text-shadow: $header-shadow1-color 0.3rem 0.5rem;

    }
}