// Component Variables
$nav-background-color: white;
$nav-padding: 0.3rem 0.5rem;
$nav-item-separator: '//';
$nav-item-separator-color: $brand2-color;
$nav-item-color: $background-color;
$nav-item-padding: 0 0.5rem;
$nav-item-underline-color1: $brand1-color;
$nav-item-underline-color2: $brand2-color;

// Rules
.nav{
    background: $nav-background-color;
    padding: $nav-padding;
    text-align: center;
}

.nav__list{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nav__item{
    display: inline-block;
    font-weight: 500;

    &:not(:last-of-type):after{
        display: inline-block;
        content: $nav-item-separator;
        color: $nav-item-separator-color;
        font-weight: 700;
    }
}

.nav__link{
    display: inline-block;
    text-decoration: none;
    color: $nav-item-color;
    padding: $nav-item-padding;
    position: relative;
    z-index: 1;

    &:before{ //Fancy underline
        content: '';
        position: absolute;
        height: 0px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom,
        $nav-item-underline-color1 50%, $nav-item-underline-color2 50%);
        transition: height 0.15s ease-in-out;
        z-index: -1;
    }

    &:hover, &:focus{
        &:before{
            height: 0.5rem;
        }
    }
}

//Modifiers
.nav--sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}