.nav{
    background: white;
}

.nav__container{
    margin: 0 auto;
    text-align: center;
    padding: 0.3rem 0.5rem;
}

.nav__list{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nav__item{
    display: inline-block;
    font-weight: 500;
    
    &:not(:last-of-type):after{
        content: '//';
        display: inline-block;
        color: $brand2-color;
        font-weight: 700;
    }


}

.nav__link{
    display: inline-block;
    text-decoration: none;
    color: $background-color;
    padding: 0 0.5rem;
    position: relative;
    z-index: 1;

    &:before{
        content: '';
        position: absolute;
        height: 0px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom, $brand1-color 50%, $brand2-color 50%);
        transition: height 0.15s ease-in-out;
        z-index: -1;
    }

    &:hover, &:focus{
        &:before{
            height: 0.5rem;
        }
    }
}

//Modifiers
.nav--sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}