// Component Variables
$noscript-background-color: $brand1-color;
$noscript-border-color: $brand2-color;
$noscript-color: white;
$print-background-color: white;
$print-color: $background-color;
$print-link-color: $brand2-color;

// Rules
.notice{
    overflow: hidden;
    text-align: center;
    font-weight: 600;
}

// Modifiers
.notice--noscript{
    background: $noscript-background-color;
    color: $noscript-color;
    border-top: 0.1rem solid $noscript-border-color;
    border-bottom: 0.2rem solid $noscript-border-color;

    @media print {
        display: none !important;
    }
}

.notice--print{
    background: $print-background-color;
    color: $print-color;
    display: none;

    @media print {
        display: block;
    }
}

.print__link{
    color: $print-link-color;
}