// Component Variables

// Rules
.see-through{
    height: $small-space;

    @media (min-width: $small-mobile) {
        height: $medium-space;
    }
    @media (min-width: $small-tablet) {
        height: $large-space;
    }
    @media print {
        display: none;
    }
}

//Modifiers
