// Component Variables
$timeline-line-width: 3px;
$timeline-circle-width: 30px;
$timeline-circle-space-top: 30px;
$timeline-item-padding: $small-space;
$timeline-item-description-padding: $xsmall-space;

// Rules
.timeline-item{
    padding: $timeline-item-padding;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    @media (min-width: $small-desktop) {
        width: 50%;
    }
}

.timeline-item__period{ //hmmm
    
}
.timeline-item__title{
    margin-bottom: 0; 

}
.timeline-item__subtitle{ //hmmm
    font-size: 1rem;
    margin-bottom: 0;
    font-family: $regular-font;
}

.timeline-item__container{
    position: relative;
    margin-left: $timeline-circle-width;

    //Circle
    &:after{
        content: "";
        width: $timeline-circle-width;
        height: $timeline-circle-width;
        box-sizing: border-box;
        border-radius: 50%;
        border: $text-color 5px solid;
        background: white;
        position: absolute;
        left: -$timeline-circle-width*1.5 + $timeline-line-width/2;
        top:  $timeline-circle-space-top; 
    }

    //Line
    &:before{
        content: "";
        background: $text-color;
        height: calc(100% + #{$timeline-item-padding*2});
        width: $timeline-line-width;
        position: absolute;
        left: -$timeline-circle-width;
        top: $timeline-circle-width + $timeline-circle-space-top;
    }
}

.timeline-item__skills{
    margin-top: $xsmall-space;
}

.timeline-item__description{
    border: 1px solid rgba($brand2-color,0.1);
    background: rgba($brand2-color, 0.05);
    padding: $timeline-item-description-padding;
    margin-top: $xsmall-space;
}

.timeline-item__highlights{
    border: 1px solid rgba($brand2-color,0.1);
    margin-top: $xsmall-space;
    background: rgba($text-color, 0.05);
    padding: $timeline-item-description-padding;
   
    ul{
        padding-left: $xsmall-space;
        list-style-type: disc;
        
        li{
            margin-top: 0.7rem;
        }

        ul{
           list-style-type: circle; 
           li{
            margin-top: 0;
            }
        }
    }
}

.timeline-item__highlights-heading{
    margin-top: -2.2rem;
}





//Fade style for last item
.timeline-item{
    &:last-of-type{
        .timeline-item__container{
             &:before{
                background: linear-gradient(to bottom, 
                $text-color 70%, transparent 70%,
                transparent 75%, rgba($text-color, 0.5) 75%, 
                rgba($text-color, 0.5) 80%, transparent 80%,
                transparent 85%, rgba($text-color, 0.2) 85%,
                rgba($text-color, 0.2) 90%, transparent 90%
                );
            }
        }
    } 
}

//Modifiers
//This could prolly be a mixin
.timeline-item--brand1{
    .timeline-item__container{
        &:after{
            border-color: $brand1-color;
        }
        &:before{
            background: linear-gradient(to bottom, $brand1-color 0%, $brand2-color 100%);
        }
    }
}
.timeline-item--brand2{
    .timeline-item__container{
        &:after{
            border-color: $brand2-color;
        }
        &:before{
            background: linear-gradient(to bottom, $brand2-color 0%, $brand3-color 100%);
        }
    }
}
.timeline-item--brand3{
    .timeline-item__container{
        &:after{
            border-color: $brand3-color;
        }
        &:before{
            background: linear-gradient(to bottom, $brand3-color 0%, $brand4-color 100%);
        }
    }
}
.timeline-item--brand4{
    .timeline-item__container{
        &:after{
            border-color: $brand4-color;
        }
        &:before{
            background: linear-gradient(to bottom, $brand4-color 0%, $text-color 100%);
        }
    }
}