// Component Variables
$timeline-line-width: 3px;
$timeline-circle-width: 30px;
$timeline-circle-space-top: 30px;
$timeline-item-padding-small: $xsmall-space 0;
$timeline-item-padding: $small-space;
$timeline-item-description-padding: $xsmall-space;
$timeline-item-colors: ( //In order of appearance
    "default": #8d8791, //has to be first
    "brand1": $brand1-color,
    "brand2": $brand2-color,
    "brand3": $brand3-color,   
    "brand4": $brand4-color
);

// Rules
.timeline-item{
    padding: $timeline-item-padding-small;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    @media (min-width: $small-desktop) {
        width: 50%;
        margin-left: 50%;
        padding-left:0;
        padding: $timeline-item-padding 0;
    }

    &:last-of-type{
        .timeline-item__container{
            //Line
            &:before{
                height: 100%;
            }
        }
        
    }
}

.timeline-item__period{ //hmmm
    
}
.timeline-item__title{
    margin-bottom: 0; 

}
.timeline-item__subtitle{ //hmmm
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    font-family: $regular-font;
}

.timeline-item__container{
    position: relative;
    margin-left: $timeline-circle-width;

    //Circle
    &:after{
        content: "";
        width: $timeline-circle-width;
        height: $timeline-circle-width;
        box-sizing: border-box;
        border-radius: 50%;
        border: $text-color 5px solid;
        background: white;
        position: absolute;
        left: -$timeline-circle-width*1.5 + $timeline-line-width/2;
        top:  $timeline-circle-space-top; 
    }

    //Line
    &:before{
        content: "";
        background: $text-color;
        height: calc(100% + #{$timeline-item-padding*2});
        width: $timeline-line-width;
        position: absolute;
        left: -$timeline-circle-width;
        top: $timeline-circle-width + $timeline-circle-space-top;
    }
}

.timeline-item__skills{
    margin-top: $xsmall-space;
}

.timeline-item__description{
    padding: $timeline-item-description-padding;
    margin-top: $xsmall-space;
}

.timeline-item__highlights,
.timeline-item__awards{
    border: 1px solid;
    margin-top: $xsmall-space;
    background: rgba($text-color, 0.05);
    padding: $timeline-item-description-padding;
    @media (min-width: $small-tablet) {
        margin-top: $small-space;
    }
   
    ul{
        padding-left: $xsmall-space;
        list-style-type: disc;
        
        li{
            margin-top: 0.7rem;
        }

        ul{
           list-style-type: circle; 
           li{
            margin-top: 0;
            }
        }
    }
}

.timeline-item__highlights-heading,
.timeline-item__awards-heading{
    margin-top: -2.2rem;
}





//Modifiers
.timeline-item--flipped{
    @media (min-width: $small-desktop) {
        margin-left: 0;
        padding-right:0;

        .timeline-item__container{
            position: relative;
            margin-right: $timeline-circle-width;
            margin-left:0;
            //Circle
            &:after{
                position: absolute;
                left: auto;
                right: -$timeline-circle-width*1.5 - $timeline-line-width/2;
                top:  $timeline-circle-space-top; 
            }
        
            //Line
            &:before{
                left: auto;
                right: -$timeline-circle-width - $timeline-line-width;
                top: $timeline-circle-width + $timeline-circle-space-top;
            }
        }
    }
}

//Fade style for last item
.timeline--work{
    .timeline-item{
        &:last-of-type{
            .timeline-item__container{
                &:before{ //this can prolly do with padding variables
                    background: linear-gradient(to top, 
                    transparent 0px, rgba($brand4-color, 0.2) 0px,
                    rgba($brand4-color, 0.2) 10px, transparent 10px,
                    transparent 20px, rgba($brand4-color, 0.5) 20px, 
                    rgba($brand4-color, 0.5) 30px, transparent 30px,
                    transparent 40px, $brand4-color 40px,
                    $brand4-color 100%, transparent 100%
                    );
                }
            }
        } 
    }
}

.timeline--education{
    .timeline-item{
        &:last-of-type{
            .timeline-item__container{
                &:before{ //this can prolly do with padding variables
                    background: linear-gradient(to top, 
                    transparent 0px, rgba(#8d8791, 0.2) 0px,
                    rgba(#8d8791, 0.2) 10px, transparent 10px,
                    transparent 20px, rgba(#8d8791, 0.5) 20px, 
                    rgba(#8d8791, 0.5) 30px, transparent 30px,
                    transparent 40px, #8d8791 40px,
                    #8d8791 100%, transparent 100%
                    );
                }
            }
        } 
    }
}

@each $timeline-item-brand, $timeline-item-color in $timeline-item-colors {

    $className: ".timeline-item--#{$timeline-item-brand}";
    @if $timeline-item-brand == 'default' { 
        $className: ".timeline-item";
    }

    //Sass madness
    $i: index($timeline-item-colors, $timeline-item-brand $timeline-item-color);
    @if ($i+1) > length($timeline-item-colors){
        $i: 0;
    }

    //Get the next colorName/color pair, then get the color (index starts from 1)
    $next-timeline-item-color: nth( nth($timeline-item-colors, $i+1), 2); 

    #{$className}{
        .timeline-item__container{
            &:after{
                border-color: $timeline-item-color;
            }
            &:before{
                background: linear-gradient(to bottom, $timeline-item-color 0%, $next-timeline-item-color 100%);
            }
        }

        .timeline-item__description{
            border: 1px solid rgba( $timeline-item-color, 0.1 );
            background: rgba( $timeline-item-color, 0.05);
        }

        .timeline-item__highlights,
        .timeline-item__awards{
            border: 1px solid rgba($timeline-item-color, 0.1);
        }
    }
}
