// Rules
.usp__list{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 -15px;

    @media print {
        margin: 0;
        flex-flow: column wrap;
    }
}