// Component Variables

// Rules
.usp{
    
}

//Modifiers

.usp--skills{
    background: rgba($brand2-color, 0.2);
}
.usp--self-study{
    background: rgba($brand3-color, 0.2);
}
.usp--interests{
    background: rgba($brand4-color, 0.2);
}