.highlight{
    color: white;
    font-weight: 500;
    /*
    transition:text-shadow ease-in-out 0.15s;

    &:hover{
        text-shadow: $brand1-color 0.1rem 0.1rem, $brand2-color -0.1rem -0.1rem;
    }
    */
}