body{
    box-sizing: border-box;

    &:after{
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: radial-gradient($brand1-color, $brand2-color);
        z-index: -1;
        opacity: 0.1;
    }
}
//Section Paddings
.section{
    padding: $small-space $xsmall-space;

    @media (min-width: $small-mobile) {
        padding: $medium-space $xsmall-space;
    }
    @media (min-width: $small-tablet) {
        padding: $medium-space $small-space;
    }
    @media (min-width: $small-desktop) {
        padding: $large-space $medium-space;
    }
}

.container{
    max-width: $container-max-width;
    margin: 0 auto;
}
//Sizes
