
<li class="contact-item {{modifiers}}">
    <a class="contact-item__link" href="#">
        <span class="contact-item__icon">
            {{{ icon }}}
        </span>
        <span class="contact-item__text">
            {{ text }}
        </span>
    </a>
</li>
            