<a name="footer"></a> 
<footer class="section footer {{modifiers}}">
    <div class="container">
       <ul class="contact contact--vertical">
            {{> contact-item 
                modifiers = ""
                icon = "<i class='icon-mail-alt'>&#xf0e0;</i>"
                text = "email@emailme.co.uk"
            }}
            {{> contact-item 
                modifiers = ""
                icon = "<i class='icon-phone'>&#xe800;</i>"
                text = "015 555 5555"
            }}
        </ul>
        <ul class="contact">
            {{> contact-item 
                modifiers = "contact-item--vertical"
                icon = "<i class='demo-icon icon-codepen'>&#xf32c;</i>"
                text = "Codepen"
            }}
            {{> contact-item 
                modifiers = "contact-item--vertical"
                icon = "<i class='icon-github'>&#xf113;</i>"
                text = "GitHub"
            }}
            {{> contact-item 
                modifiers = "contact-item--vertical"
                icon = "<i class='icon-linkedin'>&#xf0e1;</i>"
                text = "LinkedIn"
            }}
        </ul>

    </div>
</footer>