<a name="footer"></a> 
<footer class="section footer {{modifiers}}">
    <div class="container">
       <ul class="contact contact--vertical">
            {{> contact-item 
                modifiers = ""
                icon = ""
                text = "email@emailme.co.uk"
            }}
            {{> contact-item 
                modifiers = ""
                icon = ""
                text = "015 555 5555"
            }}
        </ul>
        <ul class="contact">
            {{> contact-item 
                modifiers = "contact-item--vertical"
                icon = ""
                text = "Codepen"
            }}
            {{> contact-item 
                modifiers = "contact-item--vertical"
                icon = ""
                text = "GitHub"
            }}
            {{> contact-item 
                modifiers = "contact-item--vertical"
                icon = ""
                text = "LinkedIn"
            }}
        </ul>

    </div>
</footer>