<a name="footer"></a> 
<footer class="section footer {{modifiers}}">
    <div class="container">
       <ul class="contact contact--vertical">
            {{> contact-item 
                modifiers = ""
                icon = ""
                text = "text placeholder"
            }}
             {{> contact-item 
                modifiers = ""
                icon = ""
                text = "text placeholder"
            }}
        </ul>
        <ul class="contact">
            {{> contact-item 
                modifiers = "contact-item--vertical"
                icon = ""
                text = "text placeholder"
            }}
            {{> contact-item 
                modifiers = "contact-item--vertical"
                icon = ""
                text = "text placeholder"
            }}
        </ul>

    </div>
</footer>