<a name="top"></a> 
<header class="section header {{modifiers}}">
    <div class="container header__container">
        <div class="container header__fancytext-container">
            <h1 class="header__fancytext">Myrto<br>Kontouli</h1>
        </div>
    </div>
</header>