<nav class="nav {{modifiers}}" data-sticky-nav="">
    <div class="container">
        <ul class="nav__list">
            <li class="nav__item">
            <a class="nav__link" href="#top" data-animate-anchor-scroll="">#</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="#text" data-animate-anchor-scroll="">Personal Statement</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="#skills" data-animate-anchor-scroll="">Skills</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="#work" data-animate-anchor-scroll="">Work</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="#education" data-animate-anchor-scroll="">Education</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="#self-study" data-animate-anchor-scroll="">Self Study</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="#interests" data-animate-anchor-scroll="">Interests</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="#footer" data-animate-anchor-scroll="">Contact</a>
            </li>
        </ul>
    </div>
    
</nav>