<nav class="nav">
    <div class="container nav__container">
        <ul class="nav__list">
            <li class="nav__item">
            <a class="nav__link" href="">#</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="">Personal Statement</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="">Skills</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="">Work</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="">Education</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="">Self Study</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="">Interests</a>
            </li>
            <li class="nav__item">
            <a class="nav__link" href="">Contact</a>
            </li>
        </ul>
    </div>
    
</nav>