<noscript>
    <div class="notice notice--noscript">
        <div class="container">
            <p>This website works better with Javascript enabled :)</p>  
        </div>
    </div>
</noscript>

<div class="notice notice--print" aria-hidden="true">
    <div class="container">
        <p>
        Print is good, but web is cooler ;)<br> 
        Check out the web version of this CV at <span class="print__link">limewub.github.com</span>
        </p>  
    </div>
</div>