<section class="section">
    <div class="container">
        {{#if title}}
        <h1 class="h2">{{ title }}</h1>
        {{/if}}
        
        <div class="skill" style="background-color: rgba(255,255,255,0.2)">
            <h2 class="h4">HTML5</h2>
            <p>Semantic and performant mark-up, experience building accessible components utilising WAI-ARIA, Handlebars templating</p>
        </div>
        
    </div>
</section>