<section>
    <h1 class="h2">Work</h1>
    <div class="container">
        <ul>
            {{> timeline-item 
                title = "Equator Digital Agency"
                modifiers = ""
            }}
            {{> timeline-item 
                title = "999 Design"
                modifiers = ""
            }}
            {{> timeline-item 
                title = "WebOutreach"
                modifiers = ""
            }}
        </ul> 
    </div>
</section>