{{!-- Uses usp.scss styles --}} 
<section id="self-study" class="section usp usp--self-study {{modifiers}}">
    <div class="container">
        <h1 class="h2">Self Study</h1>

        <ul class="usp__list">
            {{> usp-item
            title = "
            <h2 class='h5'>Meetups and Conferences</h2>
            "
            description = "
            <p>I aim to attend industry meetups and conferences as often as possible. From Javascript to DevOps, testing and agile company processes they are always insformative and inspiring.</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h5'>Online courses</h2>
            "
            description = "
            <p>In the recent years, I’ve worked through courses on ES6, OOJS, Browser Rendering Optimisation (WIP), Web Accessibility, Gamification and Computer Networks.</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h5'>Books</h2>
            "
            description = "
            <p>Currently reading “The Design of Everyday Things” by Don Norman to improve my understanding of user experience and design.</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h5'>YouTube</h2>
            "
            description = "
            <p>Lectures and talks on an array of web related topics and recently self-learning VueJS, Vuetify, Nuxt and Firebase.</p>
            "
           }}
           
        </ul>
        
    </div>
</section>