{{!-- Uses usp.scss styles --}}
<section class="section usp usp--skills">
    <div class="container">
        <h1 class="h2">Skills</h1>

        <ul class="usp__list">
           {{> usp-item
            title = "
            <h2 class='h4'>HTML5</h2>
            "
            description = "
            <p>Semantic and performant mark-up, experience building accessible components utilising WAI-ARIA, Handlebars templating</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h4'>CSS3</h2>
            "
            description = "
            <p>Sass, modular CSS paradigms (BEM), grid-systems (Bootstrap, Flexbox, CSSGrid), responsive design</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h4'>JavaScript</h2>
            "
            description = "
            <p>Front-end JavaScript (jQuery, OOJS, ES6, JSDocs), experience building modular code for JavaScript applications, interest in SPAs and frameworks (Vue, Nuxt), event-driven/asynchronous programming</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h4'>LAMP</h2>
            "
            description = "
            <p>Comfortable with UNIX based systems and the command line, working Apache knowledge, PHP and MySQL expertise, with a good understanding of MVC structures across multiple languages</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h4'>Tools</h2>
            "
            description = "
            <p>Version Control with Git, Package managers (npm/Yarn), Gulp workflow and configuration</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h4'>Adobe Creative Suite</h2>
            "
            description = "
            <p>Photoshop, InDesign, Illustrator</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h4'>Other</h2>
            "
            description = "
            <p>Advanced Git, some experience with Docker</p>
            "
           }}

        </ul>
        
    </div>
</section>