{{!-- Uses usp.scss styles --}}
<li class="usp-item"> 
    <div class="usp-item__container">
        <div class="usp-item__title">
            {{{ title }}}
        </div>
        <div class="usp-item__description">
            {{{ description }}}
        </div>
    </div>
</li>
