{{!-- Uses usp.scss styles --}}
<section id="interests" class="section usp usp--interests {{modifiers}}">
    <div class="container">
        <h1 class="h2">Interests</h1>

        <ul class="usp__list">
           {{> usp-item
            title = "
            <h2 class='h5'>Technology</h2>
            "
            description = "
            <p>Alongside the technologies mentioned above, I am also interested in the evolution of web development, Serverless Apps, Progressive Web Apps, WebGL projects and other cool things.</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h5'>Creative</h2>
            "
            description = "
            <p>Illustration, Graphics, UX Design, AR/VR.</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h5'>Travel</h2>
            "
            description = "
            <p>Mostly travelling light and solo – I have much love for Japan.</p>
            "
           }}
        </ul>
        
    </div>
</section>