{{!-- Uses usp.scss styles --}} 
<section id="self-study" class="section usp usp--self-study {{modifiers}}">
    <div class="container">
        <h1 class="h2">Self Study</h1>

        <ul class="usp__list">
           {{> usp-item
            title = "
            <h2 class='h5'>YouTube</h2>
            "
            description = "
            <p>Self Learning VueJS, Vuetify, Nuxt and Firebase using YouTube tutorials and articles.</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h5'>Books</h2>
            "
            description = "
            <p>Currently reading “The Design of Everyday Things” by Don Norman to improve my understanding of user experience and design.</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h5'>Online courses</h2>
            "
            description = "
            <p>In the recent years, I’ve taken (to varied progress) courses on ES6, OOJS, Browser Rendering Optimisation, Web Accessibility, Gamification and Computer Networks.</p>
            "
           }}
           {{> usp-item
            title = "
            <h2 class='h5'>Meetups and Conferences</h2>
            "
            description = "
            <p>I try to attend industry meetups and conferences as often as possible. Through these I have attained basic knowledge about DevOps, testing, agile company processes and more.</p>
            "
           }}
        </ul>
        
    </div>
</section>